


.tickets{
    font-family: Impact;
    color: white;
}
.merchandise{
    font-family: Impact;
    color: white;
}
.booking {
    font-family: Impact;
    color: white;
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 
.facebook_white.png {
    display: flex;
    flex-direction: row;
    align-self: center;
}
