*{
    background: rgb(236,73,31);
background: linear-gradient(90deg, rgba(236,73,31,1) 0%, rgba(237,131,34,1) 16%, rgba(239,208,37,1) 35%, rgba(240,131,45,1) 51%, rgba(236,79,31,1) 65%);   
}
.music{
    text-align: right;
}
.music img{
    max-width: 100%;
    width: 10%;
}
.albums img{
    max-width: 100%;
    width: 10%;
}
.albums{
    
}
.albums__list{
    list-style-type: none;
    padding: 0;
    
}
.albums__album{
    
}
.kassavinfo{
font-family: impact;
}
.kassavinfo p{
    font-family: Impact;
}
.zoukinfo{
font-family: impact;
}
.zoukinfo p{
    font-family: impact;
}
.news_and_announcements{
    font-family: Impact;
    text-align:left
}
.news_and_announcements img{
    max-width: 100%;
    width: 25%;
}
.info{
    font-family: Impact;
}