html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;  
  background: rgb(236, 73, 31);
    background: linear-gradient(
      90deg,
      rgba(236, 73, 31, 1) 0%,
      rgba(237, 131, 34, 1) 16%,
      rgba(239, 208, 37, 1) 35%,
      rgba(240, 131, 45, 1) 51%,
      rgba(236, 79, 31, 1) 65%
    );
  }


  /* header styling */
.header__logo {
  position: absolute;
  right: calc(50% - 191px);
}
.header video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.header a {
  position: absolute;
  width: 10%;
  left: 45%;
  bottom: 10px;
  z-index: 2;
 }
.header__arrow {
  width: 100%;
z-index: 1;
opacity: 60%;
}



  /*testing a popup to welcome guests*/
  .popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgb(236, 73, 31);
    z-index: 1;
    display: none;
    font-family: Impact;
  }

.main__welcome{
  font-family: Impact;
}

  .popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);scale: (0) ;
    background: rgba(236, 79, 31, 1);
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: Impact;
  }

  .popup .close_button {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: rgba(239, 208, 37, 1);
    color: rgba(240, 131, 45, 1);
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-family: Impact;
  }

  .popup .active .overlay {
    display: block;
    font-family: Impact;
  }

  .popup .active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    font-family: Impact;
  }

 
/*------------------------------------*/
  .music {
    text-align: right;
  }
  .music img {
    max-width: 100%;
    width: 10%;
  }
  
  /* - - -  Albums - - - - - - - - - - - - - - */
  .albums {
    max-width: 900px; /* Ændre max størrelse på slider her */
    margin: 0 auto;
  }
  .albums__image {
    max-width: 250px;
    width: 100%;
    max-height: 250px;
  }
  .albums__list {
    list-style-type: none;
    padding: 0;
  }
  .albums__album {
  }
  
  /* Glide.js styling */
  .glide__arrow {
    border-color: #587958;
    color: #587958;
  }
  .glide__arrow--right {
    color: #587958;
  }
  .glide__arrow--left {
    border-color: #587958;
  }
  
  /* - - -  - - - - - - - - - - - - - - */
  /*text styling*/
  .kassavinfo {
    font-family: impact;
  }
  .kassavinfo p {
    font-family: Impact;
  }
  .zoukinfo {
    font-family: impact;
  }
  .zoukinfo p {
    font-family: impact;
  }
  .news_and_announcements {
    font-family: Impact;
    text-align: left;
  }
  .news_and_announcements img {
    max-width: 100%;
    width: 25%;
  }
  .info {
    font-family: Impact;
  }

  /* styling on links */
  .links {
    text-align: center;
    list-style-type: none;
  }  
  .links a {
    font-family: Impact;
    color: white;
    text-decoration: none;
  }
.links a:visited {
      color: #69220E;
      background-color: transparent;
      text-decoration: none;
    }
    
    .links a:hover {
      color: #587958;
      background-color: transparent;
      text-decoration: underline;
    }
    
    .links a:active {
      color: #2A90DD;
      background-color: transparent;
      text-decoration: underline;
    }
  /*styling on social media icons and links*/
.so_me {
  text-align: center;
  list-style-type: none;
  padding: 1em;
}


